body {
    background-image: url(background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.cont {
    color: white ;
    background-color: black ;
    padding: 20px ;
    text-align: center;
    margin: 0%;
    width: 100%;
    box-sizing: border-box;

}

.cont a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    font-size: 18px;
}


.fondo {
    background-color: rgba(0, 0, 0, 0.74);
    padding: 20px;
    margin: 1vw;
    color: white;
    
}

.imagencentro {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    width: 100%;
    height: 500px;
    margin-left: 0vw;
    margin-right: 0vw;
    
}
section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}

section img:hover{
    cursor: crosshair;
    width: 20%;
    opacity: 1;
    filter: contrast(120%);
}

.bajo {
    color: white ;
    background-color: black ;
    padding: 30px ;
    text-align: center;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.bajo a {
    color: white;
    text-decoration: none;
    
    
}

h1{
    text-align: center;
    
}

h6{
    
    text-align: center;
}